@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar-hide class if not using Tailwind plugin */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}
